/* *,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --body: #1b1d36;
  --card: #232546;
  --icons: #2f315c;
  --hover: #ea4c89;
  --button-hover: #ff5722;
  --link-color: #5b60bf;
  --shadow: 0 0 5px var(--hover), 0 0 25px var(--hover), 0 0 50px var(--hover),
    0 0 100px var(--hover);
}

.card {
  background: var(--card);
  height: 33.3rem;
  width: 50.1rem;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  font-family: system-ui;
  border-radius: 0.6rem;
} */
