.link {
  text-decoration: none;
}

.cardDetail {
  font-size: small;
  margin: 10px;
  background-color: transparent;
  padding: 10px;
  width: 40rem;
  height: 9rem;
  border-width: medium;
  border-style: solid;
  border-color: black;
  text-align: start;
}

.cardDetail img {
  width: 100%;
}

.box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 1em;
  grid-auto-flow: row;
  grid-template-areas: "image data choices";
}

.image {
  grid-area: image;
}

.data {
  grid-area: data;
}

.choices {
  grid-area: choices;
}

.nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 20em;
  grid-template-areas: ". .";
  width: 42rem;
  justify-content: space-evenly;
}

.share {
  text-align: end;
}
